/*fondos*/

.bg-tablas {
    background-image: url(../media/images/quesos.bg.jpg);
    background-size: cover;
}

.bg-quesos {
    background-image: url(../media/images/tablaQuesos.jpg);
}

.bg-vinos {
    background-image: url(../media/images/vinos-bg.jpg);
}

.contenidoTabs {
    display: none;
}

.active {
    display: block;
}

